section.geography
    #map
    .countries
        .count
            .count__number 19
            .count__text Countries Worldwide
        .way
            .employees
                .way__text 15 000+ Employees
            .expirience
                .way__text 30 Years in Business




