section.geography
    .wrapper
        #map
            img(src="assets/img/map.png")
        .countries
            .count
                .count__number 19
                .count__text Countries Worldwide
            .way
                .employees
                    .way__text 15 000+ Employees
                .experience
                    .way__text 30 Years
                        br
                        | in Business




