//
   Created by Stanislav on 08.06.2017.
section.geography
    .wrapper
        .map
            img(src="assets/img/map_without_markers.png")
            .marker(style="top: 19%;left: 55%;")
                img(src="assets/img/marker.png")
            .marker(style="top: 26.4%;left: 53%;")
                img(src="assets/img/marker.png")
            .marker(style="top: 28.5%;left: 51.4%;")
                img(src="assets/img/marker.png")
            .marker(style="top: 31.7%;left: 55.5%;")
                img(src="assets/img/marker.png")
            .marker(style="top: 33.5%;left: 80.5%;")
                img(src="assets/img/marker.png")
            .marker(style="top: 38%;left: 22%;")
                img(src="assets/img/marker.png")
            .marker(style="top: 34%;left: 16.5%;")
                img(src="assets/img/marker.png")
        .countries
            .count
                .count__number 19
                .count__text Countries Worldwide
            .way
                .employees
                    .way__text 15 000+ Employees
                .experience
                    .way__text 30 Years
                        br
                        | in Business