.main{
  margin-bottom: 40px;
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .details{
    position: relative;
    margin-bottom:20px;
    flex: 1 1 auto;
    @include desktops {
      margin-right: 25px;
    }
  }

  .personal_info{
    flex: 3 1 auto;
  }

  form{

    input.search {
      width: 100%;
      font-size:12px;
      color: #7e7e7e;
      padding:10px;
      border: 1px solid #cdcdcd;
      box-sizing: border-box;

      &::placeholder {
        color: #7e7e7e;
      }

      &:focus {
        outline: none;
      }
    }

    &::before {
      font-family: FontAwesome, serif;
      content: '\f002';
      position: absolute;
      display: block;
      color: #acacac;
      right: 0;
      padding: 10px;

    }
  }

  .actions {
    display: flex;

    .request, .look {
      display: flex;
      font-size:16px;
      font-weight:400;
      text-align: center;
      text-transform: uppercase;
      width: 196px;
      align-items: center;
      height: 60px;
      margin-top: 10px;
      margin-bottom: 10px;
      cursor: pointer;

    }

    .request {
      margin-right: 8px;
      background-color: #a3c644;
      color: #fff;
      flex: 1 1 auto;
      @include desktops {

      }

      &::before {
        font-family: FontAwesome, serif;
        font-size: 36px;
        content: '\f0b2';
        padding: 10px 10px 10px 15px;
      }
    }

    .look {
      background-color: #937ebd;
      color: #fff;
      flex: 1 1 auto;
      @include desktops {

      }

      &::before {
        font-family: FontAwesome, serif;
        font-size: 36px;
        content: 'ïˆ';
        padding: 10px 15px;
      }
    }
  }

  .office_info {

    .header_office{
      height: 40px;
      background-color: #999999;
      font-size: 18px;
      font-weight: 400;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      line-height: 40px;
    }

    .office_details {
      border: 1px solid #cdcdcd;
      padding: 20px 15px 60px 15px;

      .office_location {
        margin-bottom: 10px;

        li {
          display: inline-block;
          color: #666666;

          &::after {
            content: '>';
            margin:0 5px;
          }
        }
      }

      .floors {
        margin-bottom: 15px;

        li {
          display: inline-block;
          color: #666666;
          
          &.title{
            display: block;
            margin-bottom:10px;
          }

          &.circle {
            width:20px;
            height:20px;
            border-radius: 50%;
            border: 1px solid #666666;
            text-align: center;
          }
        }
      }

      .office_numbers {
        color: #666666;
      }
    }
  }

  .personal_info {
    border: 1px solid #cdcdcd;

    .tab {
      overflow: hidden;
      display: flex;
      background-color: #3ac2d7;

      button {
        background-color: inherit;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        color: #fff;
        
        &.active {
          background-color: #fff;
          color: #3ac2d7;
        }

        &:hover {
          background-color: #fff;
          color: #3ac2d7;
        }
      }
    }
  }
}
