header {
  width: 100%;

  nav.header_sp {
    height: 28px;
    background: #36c3d8;
    display: flex;
    justify-content: space-between;

    a.header__logo {
      display: inline-block;
      
      
      img {
        padding: 3px 0 3px 20px;
      }
    }
    .header_right{
      display: flex;
      
      ul.header_links {
        list-style: none;
        margin: 0;
        
        li{
          display: inline-block;
          
          a {
            display: block;
            text-decoration: none;
            color: #fff;
            
          }
        }
      }
    }
  }
}