header {
  width: 100%;

  .menu {
    opacity: 0;
    transform: translateY(-90px);
    transition: all .3s ease-out;
    position: absolute;

    &.is-visible {
      opacity: 1;
      width:100%;
      transform: translateY(0);
      transition: transform .3s ease-out;
    }

    @include tablets {
      position: relative;
      transform: translateY(0);
      opacity: 1;
    }
  }

  nav.header_sp {
    display: flex;
    background: #36c3d8;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

      a.header__logo {
        height: 28px;
        padding-left: 1.25rem;



        img {
          padding: 3px 0;
        }
      }

    .header_right{
      display: flex;
      height: 28px;

      ul.header_links {
        list-style: none;
        margin: 0;
        padding: 0;
        line-height: 28px;
        display: inline-flex;

        li{

          
          a {
            text-decoration: none;
            color: #fff;
            padding: .2rem 1rem;
            
          }
          &:last-child {
            margin-right: 0.875rem;
          }
        }
      }

      .user {
        background: $headerGray;
        line-height: 28px;
        padding: 0 1.25rem 0 1.4375rem;

        a {
          text-decoration: none;
          color: #454446;
          font-size: .9rem;

          &::after {
            font-family: FontAwesome, serif;
            content: '\f0d7';
            margin-left: 15px;
            font-weight: normal;
          }
        }

        .settings:after {
           font-family: FontAwesome, serif;
           content: '\f013';
          color: $iconGray;
           margin-left: 15px;
           font-weight: normal;
         }

        .help:after {
          font-family: FontAwesome, serif;
          content: '\f059';
          color: $iconGray;
          margin-left: 15px;
          font-weight: normal;
        }
      }
    }
  }
  .user_navigation {
    background: $headerGray;
    display: flex;
    padding: 0 1.25rem;
    height: 2rem;
    justify-content: space-between;
    align-items: center;


    ul.browse, ul.user_tools {
      display: inline-flex;
      
      a{
        font-size:12px;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
      }
    }

    ul.browse {

      li {
        padding-right: 5px;
      }

      a{
        color: #666666;
        padding: .2rem .625rem;

        &.active {
          color: #fff;
          background: $mainBlue;
        }

        &:hover {
          color: #fff;
          background: $mainBlue;
        }
      }
    }

    ul.user_tools {

      li{

        a {
          margin-left: 20px;
          color: #9a9a9a;

          &.share:before, &.follow:before, &.edit:before, &.arrows:before {
            font-family: FontAwesome, serif;
            margin-right: 5px;
            font-size: larger;
            font-weight: normal;
          }

          &.share:before {
            content: '\f1e0';
          }

          &.follow:before {
            content: '\f006';
          }

          &.edit:before {
            content: '\f040';
          }

          &.arrows:before {
            margin-right: 0;
            content: '\f0b2';
          }
        }
      }
      li:last-child {
        margin-left: 25px;
      }
    }
  }

  .logo {
    height: 62px;
    background-color: #454446;

    img {
      padding: 0 25px 0 20px;
      vertical-align: middle;
    }

    span{
      color: #7ae6f7;
      font-family: Oswald, serif;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      line-height:62px;
    }
  }

}