doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="assets/style/styles.css")
        link(rel="shortcut icon", type="image/png", href="assets/img/favicon.png")
        title Epam Home
    body
        include templates/header
        //include templates/map
        include templates/map2
        include templates/content

        script(src="assets/js/tabs.js")
        //script(src="assets/js/map.js")
        //script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsA9BHXC2Z6lS8eYnHY-Vqg9PakeW7CPE&callback=initMap" async defer)