@import url('https://fonts.googleapis.com/css?family=Oswald:300,400&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

@font-face {
  font-family: FontAwesome;
  src: url('../fonts/FontAwesome.otf');
  font-style: normal;
}