body {
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper {
  position: relative;
  width: 90%;
  margin: 0 auto;
}