
.countries,
.map {
    float: left;
}
.countries{
    width: 16.6666666667%;
}
.map{
    width: 83.3333333333%;
}
div.number,
div.text-countries{
    color: #e1e1e1;
    font-family: Oswald, serif;
    font-weight: 400;
}
div.number{
    font-size: 180px;
}
div.text-countries{
    font-size: 18px;
}