
/*Header styles*/
header {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}
.menu-sp {
    width: 83.5%;
    height: 28px;
    float: left;
    background: #36c3d8;
}
.menu-sp img {
    padding: 3px 0 3px 20px;
}
.menu-sp > ul {
    list-style-type: none;
    float: right;
    line-height: 28px;
}
.menu-sp > ul > li {
    display: inline-block;
    margin-right: 15px;
}
.menu-sp > ul > li:last-child {
    margin-right: 30px;
}
.menu-sp > ul > li > a {
    color: #ffffff;
}

.settings {
    width: 16.5%;
    height: 28px;
    background: #efefef;
    float: left;
}
.settings a {
    text-align: right;
    color: #454446;
    line-height: 28px;
}
.settings a:first-child {
    margin-left: 25px;
}
.settings a.user:after{
    font-family: FontAwesome, serif;
    content: '\f0d7';
    margin-left: 15px;
    font-weight: normal;
}
.settings a.user-settings,
.settings a.help {
    font-family: FontAwesome, serif;
    font-size: large;
    color: #79787a;
    margin-left: 10px;
}

.tools {
    height: 32px;
    background: #efefef;
    clear: both;
}
.tools > ul {
    list-style-type: none;
    font-size:12px;
    text-transform: uppercase;
}
.tools > ul > li{
    display: inline-block;
    line-height: 32px;
}
.tools > ul.browse {
    float: left;
    margin-left: 20px;
}
.tools > ul.browse > li a {
    color: #666666;
    padding:4px 8px;
}
.tools > ul.browse > li a:hover {
    background: #36c3d8;
    color: #ffffff;
}
.tools > ul.browse > li a.active {
    background: #36c3d8;
    color: #ffffff;
}
.tools > ul.user-tools {
    float: right;
}
.tools > ul.user-tools {
    float: right;
}
.tools > ul.user-tools > li a {
    margin-left: 20px;
    color: #9a9a9a;
}
.tools > ul.user-tools > li:last-child {
    margin: 0 16px 0 25px;
}
.tools > ul.user-tools li a.share:before {
    font-family: FontAwesome, serif;
    content: '\f1e0';
    margin-right: 5px;
    font-size: larger;
    font-weight: normal;
}
.tools > ul.user-tools li a.follow:before {
    font-family: FontAwesome, serif;
    content: '\f006';
    margin-right: 5px;
    font-size: larger;
    font-weight: normal;
}
.tools > ul.user-tools li a.edit:before {
    font-family: FontAwesome, serif;
    content: '\f040';
    margin-right: 5px;
    font-size: larger;
    font-weight: normal;
}
.tools > ul.user-tools li a.arrows:before {
    font-family: FontAwesome, serif;
    content: '\f0b2';
    margin-right: 5px;
    font-size: larger;
    font-weight: normal;
}
.logo {
    background: #454446;
    line-height:60px;
}
.logo img {
    padding: 0 25px 0 20px;
    vertical-align: middle;
}
.logo span{
    color: #7ae6f7;
    font-family: Oswald, serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height:60px;
}